@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
body {
  background-color: #131722;
  color: #fff;
  font-family: 'Montserrat', sans-serif;

}

a {
  all: unset;
}
a:hover{
  cursor: pointer;
}



li{
 
  font-size: 18px;
  letter-spacing: 1px;
}
li span{
  cursor: pointer;
}
.navbar{
  background-color: transparent;
  color: #fff;

}
.form-control:focus {
  border-color: #5d75b9;
  box-shadow: 0 0 0 0.2rem rgb(50, 120, 157);
}


.brdr{
  background-color: #313131;
  height: 1px;
}